    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
    }
    
    .wrap {
        width: 1140px;
        margin: 0 auto;
    }
    
    .header {
        height: 75px;
        background-color: #222222;
        outline: 1px solid green;
        color: white;
    }
    
    .header-wrap {
        display: flex;
        justify-content: space-between;
    }
    
    .logo {
        margin-top: 18px;
    }
    
    img[alt="magnifier"] {
        margin-left: 40px;
    }
    
    img[alt="human"] {
        margin-right: 34px;
    }
    
    .account {
        display: flex;
        margin-top: 18px;
    }
    
    details summary::-webkit-details-marker {
        display: none;
    }
    
    .main {
        Width: 232px;
        Height: 764px;
        background-color: white;
        margin-top: 28px;
        position: absolute;
        margin-left: 120px;
    }
    
    .cross {
        text-decoration: none;
        float: right;
        color: black;
    }
    
    .menu1 {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        margin-left: 40px;
    }
    
    .subtitle {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #F16D7F;
        text-decoration: none;
        line-height: 2;
    }
    
    a {
        text-decoration: none;
    }
    
    .subtitle li a {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
    }
    
    .account ul li {
        list-style-type: none;
    }
    
    .strips {
        margin-right: 34px;
        margin-top: 4px;
    }
    
    .promo {
        background-image: linear-gradient(to right, #ffffff 50%, #F1E4E6 50%);
    }
    
    .promo-wrap {
        display: flex;
        width: 1700px;
        height: 764px;
    }
    
    .rectangle {
        margin-left: 50px;
    }
    
    .wand {
        margin-top: 335px;
        margin-left: 64px;
    }
    
    .words {
        margin-left: 16px;
    }
    
    .brand {
        margin-top: 335px;
        font-family: Lato;
        font-style: normal;
        font-size: 48px;
        line-height: 58px;
        color: #222222;
    }
    
    .luxerious {
        margin-top: -52px;
        font-family: Lato;
        font-style: normal;
        font-size: 32px;
        line-height: 38px;
        color: #222222;
    }
    
    .fashion {
        text-decoration: none;
        color: #F16D7F;
    }
    
    .categories {
        background-color: white;
        margin-top: 64px;
    }
    
    .categories-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    img[alt="clothes"] {
        margin-top: 30px;
    }
    
    .off {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 105px;
    }
    
    .forwoman {
        text-decoration: none;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28, 8px;
        margin-left: 103px;
        color: #F16D7F;
    }
    
    .woman-wrap {
        position: relative;
    }
    
    .for-woman {
        background: rgba(33, 22, 22, 0.7);
        position: absolute;
        width: 360px;
        height: 260px;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        display: none;
    }
    
    .woman-wrap:hover .for-woman {
        display: block;
    }
    
    .hot {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 105px;
    }
    
    .formen {
        text-decoration: none;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28, 8px;
        margin-left: 125px;
        color: #F16D7F;
    }
    
    .bisinessman-wrap {
        position: relative;
    }
    
    .for-bisinessman {
        background: rgba(33, 22, 22, 0.7);
        position: absolute;
        width: 360px;
        height: 260px;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        display: none;
    }
    
    .bisinessman-wrap:hover .for-bisinessman {
        display: block;
    }
    
    .arrivals {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 105px;
    }
    
    .forkids {
        text-decoration: none;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28, 8px;
        margin-left: 123px;
        color: #F16D7F;
    }
    
    .child-wrap {
        position: relative;
    }
    
    .for-child {
        background: rgba(33, 22, 22, 0.7);
        position: absolute;
        width: 360px;
        height: 260px;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        display: none;
    }
    
    .trendy {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 65px;
    }
    
    .accesories {
        text-decoration: none;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28, 8px;
        margin-left: 492px;
        color: #F16D7F;
    }
    
    .child-wrap:hover .for-child {
        display: block;
    }
    
    .clothes-wrap {
        position: relative;
    }
    
    .for-clothes {
        background: rgba(33, 22, 22, 0.7);
        position: absolute;
        width: 1142px;
        height: 180px;
        left: 0;
        bottom: 0;
        right: 0;
        top: 30px;
        display: none;
    }
    
    .clothes-wrap:hover .for-clothes {
        display: block;
    }
    
    .products {
        background-color: white;
        margin-top: 97px;
    }
    
    .fetured {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 36px;
        color: #222222;
        text-align: center;
    }
    
    .week {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #9F9F9F;
        text-align: center;
    }
    
    .pictures {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .ellery {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: #000000;
    }
    
    .text1 {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
    }
    
    .price {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #F16D7F;
    }
    
    img[alt="product4"],
    img[alt="product5"],
    img[alt="product6"] {
        margin-top: 30px;
    }
    
    .Button_browse {
        Width: 212px;
        Height: 48px;
        color: #F26376;
        background-color: white;
        border-color: #FF6A6A;
        margin-top: 49px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 465px;
        margin-bottom: 50px;
    }
    
    .Button_browse:hover {
        background: #F16D7F;
        color: #FFFFFF;
    }
    
    .advantage {
        height: 341px;
        background: #222222;
    }
    
    .feture {
        display: flex;
        justify-content: space-between;
        padding-top: 105px;
    }
    
    .badges {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .large {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 19.96px;
        line-height: 24px;
        color: #FBFBFB;
    }
    
    .small {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
    }
    
    .feedback {
        object-fit: fill;
        background-size: cover;
        height: 448px;
        background-image: url(../img/index/subscribe.png);
    }
    
    .feedback-wrap {
        display: flex;
        justify-content: space-between;
    }
    
    .review {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 97px;
    }
    
    .mail {
        margin-top: 150px;
        margin-right: 200px;
    }
    
    .promotion {
        font-family: Lato;
        font-style: normal;
        font-size: 18px;
        line-height: 167.2%;
        Width: 350px;
        text-align: center;
        color: #222224;
    }
    
    .subscribe {
        display: flex;
    }
    
    .field {
        background: #E1E1E1;
        border-radius: 33px 0 0 33px;
        Width: 322px;
        Height: 49px;
        padding: 25px 30px;
    }
    
    input:focus {
        outline: 0;
    }
    
    .btn {
        position: absolute;
        background: #F16D7F;
        border-radius: 0 33px 33px 0;
        Width: 100px;
        Height: 54px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
    }
    
    .footer {
        height: 79px;
        background-color: #222224;
    }
    
    .footer-wrap {
        display: flex;
        justify-content: space-between;
    }
    
    .copy {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;
        margin-top: 20px;
    }
    
    .social button {
        width: 32px;
        height: 32px;
        font-size: 14px;
        margin-top: 24px;
    }
    
    .social button:hover {
        background: #F16D7F;
        color: #FFFFFF;
    }
    
    .arrival {
        height: 148px;
        background: #F8F3F4;
    }
    
    .arrivals-wrap {
        background: #F8F3F4;
        display: flex;
        justify-content: space-between;
    }
    
    .name {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: #F16D7F;
        margin-top: 30px;
    }
    
    .way {
        margin-top: 65px;
    }
    
    .home {
        text-decoration: none;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
    }
    
    .men {
        text-decoration: none;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
    }
    
    .new-arrivals {
        text-decoration: none;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #F16D7F;
    }
    
    .product {
        height: 777px;
        background-color: #F7F7F7;
    }
    
    .product-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    
    .arrow {
        background: rgba(42, 42, 42, 0.15);
    }
    
    .photo {
        width: 597px;
        Height: 724px;
    }
    
    .card-wrap {
        Width: 1141px;
        Height: 601px;
        margin-bottom: 65px;
        position: absolute;
        left: 0;
        bottom: 537px;
        right: 0;
        top: 935px;
        background: #FFFFFF;
    }
    
    .productos {
        margin-top: 601px;
    }
    
    .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 49px;
    }
    
    .collection {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #F16D7F;
    }
    
    .mochino {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #4D4D4D;
    }
    
    .description {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #5E5E5E;
    }
    
    .prices {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #EF5B70;
    }
    
    .options {
        display: flex;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        margin-top: 66px;
    }
    
    .size {
        margin-left: 23px;
    }
    
    .quantity {
        margin-left: 23px;
    }
    
    details summary::-webkit-details-marker {
        display: none;
    }
    
    .options ul {
        list-style-type: none;
    }
    
    .Button {
        Width: 212px;
        Height: 48px;
        color: #F26376;
        background-color: white;
        border-color: #FF6A6A;
        margin-top: 49px;
        display: flex;
        align-items: center;
    }
    
    img[alt="truck"] {
        margin-left: 23px;
    }
    
    .add {
        margin-left: 23px;
    }
    
    .Button:hover {
        background: #F16D7F;
        color: #FFFFFF;
    }
    
    .product-wrap {
        display: flex;
    }
    
    .product1 {
        height: 581px;
    }
    
    .capsule {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: #000000;
    }
    
    .text {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
    }
    
    .filter {
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #EF5B70;
    }
    
    .boss {
        Width: 360px;
        Height: 531px;
        position: absolute;
    }
    
    .summary {
        Width: 327px;
        Height: 37px;
        border-left: 4px solid #EF5B70;
        padding-left: 13px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #EF5B70;
        padding-top: 10px;
    }
    
    .first1 {
        background-color: #ffffff;
    }
    
    .first {
        padding-left: 0;
    }
    
    .first li {
        list-style-type: none;
        text-decoration: none;
        border-left: none;
    }
    
    .first li a {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        line-height: 2;
        padding-left: 34px;
    }
    
    summary:focus {
        outline: 0;
    }
    
    .sorting {
        display: flex;
        justify-content: center;
        margin-top: 51px;
    }
    
    .checkbox {
        display: flex;
        flex-direction: column;
    }
    
    .now {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
    }
    
    .sizes {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        margin-left: 28px;
    }
    
    .sorting-price {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        margin-left: 28px;
    }
    
    .product1,
    .product2,
    .product3,
    .product4,
    .product5,
    .product6,
    .product7,
    .product8,
    .product9 {
        background: #F8F8F8;
    }
    
    .wrap-card {
        margin-top: 38px;
    }
    
    .pages {
        Width: 283px;
        Height: 44px;
        border: 1px solid #C4C4C4;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 408px;
        margin-top: 48px;
        margin-bottom: 96px;
    }
    
    .page {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #C4C4C4;
    }
    
    .page:hover {
        color: #EF5B70;
    }